
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iranyekan";
  src: url("../public/BYekan/BYekan+.ttf") ;
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl;
  margin: 0;
  font-family: Iranyekan, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swiper {
  width: 100%;
  height: 100%;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}